In [1]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("MGT 201 - Homework 4 Data Set (040124) (Quercus).csv")
df

,Transaction,Purchase Date,Customer ID,Gender,Marital Status,Homeowner,Children,Annual Income,City,State or Province,Country,Product Family,Product Department,Product Category,Units Sold,Revenue
0,1,12/18/2014,7223,F,S,Y,2,$30K - $50K,Los Angeles,CA,USA,Food,Snack Foods,Snack Foods,5,27.38
1,2,12/20/2014,7841,M,M,Y,5,$70K - $90K,Los Angeles,CA,USA,Food,Produce,Vegetables,5,14.90
2,3,12/21/2014,8374,F,M,N,2,$50K - $70K,Bremerton,WA,USA,Food,Snack Foods,Snack Foods,3,5.52
3,4,12/21/2014,9619,M,M,Y,3,$30K - $50K,Portland,OR,USA,Food,Snacks,Candy,4,4.44
4,5,12/22/2014,1900,F,S,Y,3,$130K - $150K,Beverly Hills,CA,USA,Drink,Beverages,Carbonated Beverages,4,14.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14054,14055,12/29/2016,9102,F,M,Y,2,$10K - $30K,Bremerton,WA,USA,Food,Baking Goods,Baking Goods,3,9.64
14055,14056,12/29/2016,4822,F,M,Y,3,$10K - $30K,Walla Walla,WA,USA,Food,Frozen Foods,Vegetables,3,7.45
14056,14057,12/31/2016,250,M,S,Y,1,$30K - $50K,Portland,OR,USA,Drink,Beverages,Pure Juice Beverages,4,3.24
14057,14058,12/31/2016,6153,F,S,N,4,$50K - $70K,Spokane,WA,USA,Drink,Dairy,Dairy,2,4.00
14058,14059,12/31/2016,3656,M,S,N,3,$50K - $70K,Portland,OR,USA,Non-Consumable,Household,Electrical,5,25.53

In [ ]:
# Convert Purchase Date to datetime format
df['Purchase Date'] = pd.to_datetime(df['Purchase Date'])

In [3]:
# Calculate the total number of transactions
total_transactions = len(df)

In [5]:
# 1. Proportion of transactions made by customers who are married
married_transactions = df[df['Marital Status'] == 'M']
married_proportion = len(married_transactions) / total_transactions
print("Proportion of transactions made by customers who are married:", married_proportion)

Proportion of transactions made by customers who are married: 0.48837043886478415

In [6]:
# 2. Proportion of transactions made by customers who do not own a home
non_homeowner_transactions = df[df['Homeowner'] == 'N']
non_homeowner_proportion = len(non_homeowner_transactions) / total_transactions
print("Proportion of transactions made by customers who do not own a home:", non_homeowner_proportion)

Proportion of transactions made by customers who do not own a home: 0.3993882921971691

In [7]:
# 3. Proportion of transactions made by customers who have at least one child
at_least_one_child_transactions = df[df['Children'] > 0]
at_least_one_child_proportion = len(at_least_one_child_transactions) / total_transactions
print("Proportion of transactions made by customers who have at least one child:", at_least_one_child_proportion)

Proportion of transactions made by customers who have at least one child: 0.904402873604097

In [8]:
# 4. Proportion of supermarket customers who are single and own a home
single_homeowner_transactions = df[(df['Marital Status'] == 'S') & (df['Homeowner'] == 'Y')]
single_homeowner_proportion = len(single_homeowner_transactions) / total_transactions
print("Proportion of supermarket customers who are single and own a home:", single_homeowner_proportion)

Proportion of supermarket customers who are single and own a home: 0.2345117006899495

In [ ]:
# 1. Total revenue for January 2016 and February 2016
jan_feb_2016_revenue = df[(df['Purchase Date'].dt.year == 2016) & (df['Purchase Date'].dt.month.isin([1, 2]))]['Revenue'].sum()
print("Total revenue in $ for January 2016 and February 2016:", jan_feb_2016_revenue)

In [10]:
# 1. Total revenue for January 2016 and February 2016
jan_feb_2016_revenue = df[(df['Purchase Date'].str[-4:] == '2016') & (df['Purchase Date'].str[:2].isin(['1/', '2/']))]['Revenue'].sum()
print("Total revenue in $ for January 2016 and February 2016:", jan_feb_2016_revenue)

Total revenue in $ for January 2016 and February 2016: 20453.39

In [11]:
# 2. Total revenue for all purchases made by married female homeowners
married_female_homeowners_revenue = df[(df['Marital Status'] == 'M') & (df['Gender'] == 'F') & (df['Homeowner'] == 'Y')]['Revenue'].sum()
print("Total revenue in $ for all purchases made by married female homeowners:", married_female_homeowners_revenue)

Total revenue in $ for all purchases made by married female homeowners: 35996.0

In [12]:
# 3. Total revenue in $ in the state of California
california_revenue = df[df['State or Province'] == 'CA']['Revenue'].sum()
print("Total revenue in $ in the state of California:", california_revenue)

Total revenue in $ in the state of California: 34730.41

In [13]:
# 4. Total revenue in $ generated by the Produce product department
produce_revenue = df[df['Product Department'] == 'Produce']['Revenue'].sum()
print("Total revenue in $ generated by the Produce product department:", produce_revenue)

Total revenue in $ generated by the Produce product department: 27251.379999999997